<a href="/note">Create New Note</a>
<button>By Finish Date</button>
<button>By Created Date</button>
<button>By Importance</button>
<div>
<hr />
{{#each notes}}
<div>
    <table>
        <tr>
            <td>{{dueTimeLabel}}</td>
            <td>{{title}}</td>
            <td>
                {{#each priority}}*{{/each}}
            </td>
        </tr>
        <tr>
            <td style="width: 45%;">
                {{#if isFinished}}
                <input type="checkbox" disabled="disabled" checked="checked" />
                {{^}}
                <input type="checkbox" disabled="disabled" />
                {{/if}}
                <span>erledigt</span>
            </td>
            <td style="width: 65%;">
                <textarea style="width: 100%;" disabled="disabled">{{description}}</textarea>
            </td>
        </tr>
    </table>
    <a href="/deleteNote/{{_id}}">löschen</a>
</div>
<hr />
<hr />
{{/each}}
</div>