<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Notizenverwaltung</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/defaultStyle.css" />
    {{#if darkStyle}}
    <link rel="stylesheet" href="/darkStyle.css" />
    {{/if}}
  </head>
  <body>
    <header>
      <h1>Notizenverwaltung</h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>