<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Notizenverwaltung</title>
    <link rel="stylesheet" href="defaultStyle.css" />
  </head>
  <body>
    <header>
      <h1>Notizenverwaltung</h1>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>