<form method="POST" action="/note" class="container">
    <input type="hidden" name="_method" value="put" />
    <div>
        <label>Titel</label>
        <input name="title" required minlength="1" />
    </div>
    <div>
        <label>Beschreibung</label>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label>Wichtigkeit</label>
        <input type="number" name="priority" min="0" max="5" required />
    </div>
    <div>
        <label>Fertig bis</label>
        <input type="datetime-local" name="finishedUntil" required />
    </div>
    <div>
        <input type="checkbox" name="isFinished" value="1" />
        <label>Erledigt</label>
    </div>
    <button class="btn btn-primary">Anlegen</button>
    <a href="/" class="btn btn-secondary">Abbrechen</a>
</form>