body {
    background-color: lightblue;
}

.error {
    background-color: red;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}

.flex-item:not(:first-child) {
    flex: 1;
}

.flex-item:nth-child(1) {
    width: 100%;
}

textarea {
    resize: none;
}