body {
    background-color: lightblue;
}

.error {
    background-color: red;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

textarea {
    resize: none;
}

.caption {
    width: 15%;
    margin: auto 0;
    min-width: 100px;
}

.control {
    flex-grow: 1;
    width: 85%;
    margin: 10px 0;
}