body {
    background-color: lightblue;
    padding: 20px;
}

.error {
    background-color: red;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
}

article {
    margin-bottom: 40px;
}

.icon {
    width: 25px;
    height: 25px;
}

.description {
    width: 100%;
    display: inline-block;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-items-center {
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0.8em -0.2em;
}

.menu-item {
    margin-top: 0.1em;
    flex-grow: 1;
    overflow: hidden;
}

textarea {
    resize: none;
}

.caption {
    width: 15%;
    margin: auto 0;
    min-width: 100px;
}

.control {
    flex-grow: 1;
    width: 85%;
    margin: 10px 0;
}